<footer class="site-footer">
  <div class="footer-top">
    <div class="container-wide">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h4 class="footer-title">Contact Us</h4>
          <ul class="footer-menu">
            <li><a href="mailto:Grp-Relay-Team@adobe.com"><i class="far fa-envelope"></i> Grp-Relay-Team@adobe.com</a></li>
            <li><a href="https://adobe-relay.slack.com/"><i class="fab fa-slack"></i> Adobe-Relay</a></li>
            <li><a href="#"><i class="fas fa-link"></i> Relay</a></li>
          </ul>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h4 class="footer-title">Capabilities</h4>
          <ul class="footer-menu">
            <li><a href="#">Functional Automation</a></li>
            <li><a href="#">Performance Lab</a></li>
            <li><a href="#">Mobile Automation</a></li>
            <li><a href="#">Desktop Automation</a></li>
            <li><a href="#">Chaos Simulator</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container-wide">
      <div class="row align-items-center">
        <div class="col-md-12 text-center">
          <p class="copyright-text">© {{ currentYear }} Relay AI. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>