/* Additional styles specific to TestSuite result page */
.data-table .assertions-summary {
  display: flex;
  flex-direction: column;
}

.tags-container {
  max-width: 200px;
}

.tag-badge {
  margin-bottom: 0.25rem;
}