/* Additional styles specific to MasterSuite result page */
.test-count {
  display: flex;
  flex-direction: column;
}

.test-count .progress-bar-container {
  margin-bottom: 0.25rem;
}

.test-count .progress-text {
  font-size: 0.8rem;
}